mixin daterange-input-group(config)
    .input-group.date-input&attributes(attributes)
        .input-group-append
            .input-group-text
                i.icon-calendar22
        input(data-ref= config.reference)