.media-video-slider__slide.media-video-slider-slide.swiper-slide(class= slideCls)
    a.swiper-slide-fancybox-image(data-fancybox='' href= src class= videoWrapperCls)
        video(class= videoCls src= src).media-video-slider-slide__video