.photo-slider__slide.photo-slider-slide.swiper-slide(class= slideCls data-id= photoId data-order= displayOrder)
    a.swiper-slide-fancybox-image(data-fancybox='' href= originalLink class= imageWrapperCls)
        img(src= previewLink class= imageCls)
