/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('toggle-switch.css');
table caption {
  caption-side: top;
}

.navbar-brand {
  font-size: inherit;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.tool-panel {
  display: block;
  position: absolute;
  z-index: 1000;
  float: left;
  background: rgba(255, 255, 255, 0.3);
}

#photo-tools {
  left: 10px;
  top: 0;
}

.overlay-panel {
  z-index: 1010;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  border: 1px gray solid;
}

.product-disabled {
  color: firebrick;
}

.product-draft {
  color: royalblue;
}

.product-hidden {
  color: silver;
}

.select-editable input {
  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 40px);
  border-right: none;
}

.select-editable select:focus,
.select-editable input:focus {
  outline: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

#edit {
  padding: 1px;
}

td.editable {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td.editable-cell {
  padding-left: 1px;
  padding-right: 1px;
}

#catalog-tree {
  right: 15px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 0px;
  padding-right: 0px;
}

#catalog-tree ul {
  right: -9px;
  left: 0px;
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
}

.product-width td {
  padding-bottom: 3px;
  padding-top: 3px;
}

td.product-width {
  max-width: 500px;
  min-width: 200px;
  line-height: 39px;
}

.product-regular > td {
  padding-top: 2px;
  padding-bottom: 2px;
}

ul.fancytree-container {
  padding-left: 0px;
  border: none;
}

#products-table {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1px;
  min-width: 200px;
}

.ui-fancytree {
  padding-left: 0px;
  left: 0px;
}

.form-check {
  padding-left: 15px;
}

.charactName {
  min-width: 100px;
  padding-left: 0px;
  padding-right: 0px;
}

.content-align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}

.haracter-table {
  width: 600px;
  overflow: scroll;
}

#collapse-button {
  height: 35px;
}

.prod-col {
  position: relative;
  /*min-width: 50%;*/
  min-height: 1px;
  display: inline-block;
  padding-left: 20px;
  max-width: 50%;
}

.product-container #products-table {
  border: 1px solid rgba(0, 0, 0, 0.125);
  max-width: 100%;
  min-width: initial;
  overflow: auto;
}

.container-spec {
  /* justify-content:flex-start;*/
  width: 100%;
  display: flex;
}

.product-name {
  /*min-width: 300px;*/
}

.datatable-parent {
  box-sizing: border-box;
  justify-content: flex-start;
  /* white-space: nowrap;*/
  overflow-x: auto;
  max-width: 700px;
}

/*.product-table {
    min-width: 200px;
}*/

.overflow-scroll {
  overflow: scroll;
}

.collapse-arrow {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: 25px;
  float: right;
}

#product {
  min-width: 200px;
}

@media (min-width: 600px) {
  #data-parent {
  }
}

/*@media (max-width: 1500px) and (min-width:1200px) {

    .product-container {
        padding-left: 55px;
    }
}

@media (max-width: 1200px) and (min-width:200px) {

    .product-container {
        padding-left: 100px;
    }
}

@media (max-width: 950px) and (min-width:600px) {

    .product-container {
        padding-left: 110px;
    }
}

@media (max-width: 950px) and (min-width:600px) {

    .product-container {
        padding-left: 120px;
    }
}


@media (max-width: 850px) and (min-width:500px) {

    .product-container {
        padding-left: 140px;
    }
}

@media (max-width: 1700px) {
    .scrollable-table {
        overflow-x: scroll;
    }
}
*/

tr.active td {
  background-color: #2196f3;
  color: white;
}

tr.active a {
  color: white;
}

.tree-edit-panel {
  position: absolute;
  left: 0px;
  z-index: 10;
  min-width: 200px;
  background-color: white;
  border: 1px solid gray;
}

.table-top-aligned td {
  vertical-align: top;
}

span.fancytree-checkbox {
  height: 1.2rem;
  width: 1.2rem;
}

.product-panel {
  max-height: 84vh;
  /*height: 82.5vh;*/
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

span.fancytree-node.disable-extended > span.fancytree-title {
  color: coral;
}

.highlighted {
  background-color: #2196f3;
  color: white;
}

.highlighted a {
  color: white;
}

td.highlighted {
  background-color: coral;
  color: black;
}

.supply-info-btn {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

td.string-compact {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

td.string-compact div {
  max-height: 60px !important;
  overflow-y: hidden;
}

.import-product-list {
  max-height: 500pt !important;
}

.import-product-list-table {
  overflow-y: scroll;
  max-height: 150px;
}

.import-product-list-table th {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/*order item statuses*/
.order-product-no-data {
  background-color: lightgrey;
  color: dimgrey;
}

.order-product-added {
  background-color: lightgreen;
}

.order-product-not-enough {
  background-color: gold;
}

.order-product-out-of-stock {
  background-color: lightpink;
}

.order-product-price-changed {
  background-color: deeppink;
}

.order-product-b2b-waiting {
  background-color: #d4aaf6;
  color: black;
}

.order-product-cancelled {
  color: lightgray;
}

.order-product-closed {
  background-color: darkslategray;
  color: white;
}

.order-revise-no-detail {
  color: silver;
}

.order-revise-agreed {
  background-color: lightgreen;
  color: darkgreen;
}

.order-revise-cancelled {
  background-color: darksalmon;
  color: brown;
}

.order-revise-difference {
  background-color: bisque;
}

.order-revise-difference .critical {
  background-color: red;
}

.order-revise-difference .little {
  background-color: chocolate;
}

.order-revise-difference .good {
  background-color: mediumseagreen;
}

.order-revise-not-exists {
  background-color: darkslategray;
  color: white;
}

.order-revise-not-exists a {
  color: white;
}

.order-revise-not-exists a:active {
  color: white;
}

.order-status-confirmed {
  background-color: green;
  color: white;
}

.order-status-cancelled {
  background-color: darkgray;
  color: silver;
}

.option-marker {
  background-color: #65e17b;
}

.table-pager {
  display: inline-block;
}

.ordered {
  background-color: #c4f2c2;
}

/*order-list*/
.order-input-text label {
  min-width: 20px;
}

.order-filter-arrow:hover {
  background: #ededed;
}

.order-list .sidebar-content .card.mb-0 {
  padding-bottom: 12px;
}

.order-list .form-input-styled {
  visibility: inherit !important;
}

.order-list .nav-item #order-list-dropdown {
  min-width: 245px;
}

.order-list .dropdown-menu {
  padding: 0px;
  margin: 0px;
  border: 0;
}

.order-list .form-control-feedback {
  left: 0;
}

.order-list .form-group-feedback-right .form-control {
  padding-left: 2.35rem;
}

.order-list .datatable-scroll {
  overflow: auto;
  max-height: 501px;
}

.order-list .filter-columns-orders th {
  position: inherit !important;
}

.order-list .table tbody tr .icon-bubble-lines4,
.order-list .table tbody tr .icon-menu9,
.order-list .table tbody tr .dropdown {
  position: inherit;
}

.order-list .form-group-feedback-right .form-control-feedback {
  width: 0;
}

.filter-columns-line {
  border: 1px solid #ced4da;
  border-radius: 2px;
  width: 105px;
}

#orderlist-table-position {
  position: relative;
}

#orderlist-table-position .orderlist-table-input {
  position: absolute;
  right: 0;
  top: -8px;
  border: 1px solid #a9a9a9;
  background-color: #a9a9a9;
  display: inline-block;
  width: 90px;
  height: 50px;
  padding-top: 9px;
  text-align: center;
  border-radius: 18px 0 0 0;
}

#orderlist-table-position .orderlist-table-input input {
  width: 20px;
}

#orderlist-table-position .orderlist-table-input:hover {
  top: -40px;
  cursor: pointer;
}

.order-list .tableFixHead {
  overflow-y: auto;
  height: 85%;
}

.order-list .tableFixHead thead th {
  position: sticky;
  top: -1px;
  background: white;
}

.order-list .filter-columns-orders input {
  font-size: 12px;
}

.toolbar-filters .nav-item,
#toolbar-clients .nav-item {
  position: relative;
}

.toolbar-filters .nav-item {
  min-width: 200px;
}

.toolbar-filters .remove,
#toolbar-clients .remove {
  position: absolute;
  top: 0px;
  right: 0px;
  color: black;
  z-index: 30;
}

.toolbar-filters .remove:hover,
#toolbar-clients .remove:hover {
  color: red;
}

.order-list .dataTable thead .sorting:before {
  right: 1.25rem;
}

.order-list .nav-item .legitRipple-ripple {
  display: none;
}
/* filter column begin*/
.order-list .dataTable thead .filter-columns-orders .sorting:after,
.order-list .dataTable thead .filter-columns-orders .sorting:before,
.order-list .dataTable thead .filter-columns-orders .sorting_asc:after {
  content: none;
}
/* filter column end*/
.order-list .datatable-scroll::-webkit-scrollbar {
  height: 7px;
}

.order-list .toolbar-filters::-webkit-scrollbar {
  height: 7px;
}

.order-list #settings-order-nav .nav-link.dropdown-toggle.legitRipple {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.order-list .nav-pills-toolbar .nav-item:first-child .nav-link {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.order-list #settings-order-nav {
  flex-wrap: inherit;
  min-width: 369px;
}

.order-list .toolbar-filters {
  overflow-x: auto;
  flex-wrap: inherit;
}

@media (max-width: 1260px) {
  .order-list .toolbar-filters li {
    min-width: 220px;
  }
}

@media (min-width: 1260px) {
  .order-list .toolbar-filters li {
    min-width: 220px;
  }
}

.selection-marker {
  border-width: 2px;
  border-style: solid;
  border-color: #65e17b;
}

.import-file-table-col {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.import-file-name-col {
  min-width: 150px;
  max-width: 150px;
  max-height: 60px;
}

.product-list-wrapper {
  min-height: 50vh !important;
  max-height: 80vh;
}

.import-file-list-default {
  min-height: 100vh;
}

.float-panel {
  position: absolute;
  background-color: white;
  z-index: 500;
  overflow: hidden;
}

.horizontal-float-panel {
  white-space: nowrap;
  line-height: 1.5385;
  transition: width 0.5s ease-out 0.1s;
  -webkit-transition: width 0.5s ease-out 0.1s;
  -moz-transition: width 0.5s ease-out 0.1s;
  -o-transition: width 0.5s ease-out 0.1s;
}

.supply-product-filter {
  padding: 0rem 0.875rem 0.4375rem 0.875rem;
  right: 5px;
  width: 2rem;
  max-height: 3.25rem !important;
  border-radius: 4px;
}

.supply-product-filter:hover {
  width: 59rem;
  overflow: visible;
  border: 1px solid silver;
}

.bubbling-panel {
  max-height: 400px;
  overflow-y: auto;
}

.icon-star-yellow::before {
  content: '\ece0';
  color: yellow;
}

/*.fixed-table > th {
    position: sticky;
}*/

.fixed-header {
  background-color: white;
}

/*Стили фиксированных заголовков*/

.fixed-header-table table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

.fixed-header-table th,
.fixed-header-table td {
  padding: 0.25rem;
}

.fixed-header-table th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.common-products-t-id::after {
  /*стрелка вниз*/
  font-family: icomoon;
  display: inline-block;
  border: 0;
  vertical-align: middle;
  font-size: 0.6875rem;
  margin-left: 0.46875rem;
  line-height: 1;
  position: inherit;
  content: '\e9c9';
}

.togle-dropdown {
  position: absolute;
  top: 104px;
  transform: translate3d(5px, -10px, 0px);
  left: 48px;
  will-change: transform;
}

.inline-icon {
  display: initial;
  padding-left: 2px;
}

.none {
  display: none;
}
/************/

/**Изменяемый размер таблицы*/

/*table {
    table-layout: fixed;


}
*/
.table-resizable table {
  table-layout: fixed;
}

.table-resizable td,
.table-resizable th {
  overflow: hidden;
  white-space: nowrap;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*********/

#headerSettings {
  z-index: 99;
}

/**********/

.table-fixed-header {
  overflow: auto;
}

.table-fixed-header thead {
  position: sticky;
  top: 0;
}

/*Парсеры*/
.select-border-primary {
  border-color: #2196f3;
}
/*Парсеры*/

/* Фиксированный заголовок таблицы */

.tableFixHead {
  overflow-y: auto;
  height: 85%;
}

.tableFixHead thead th {
  position: sticky;
  top: -1px;
}

.tableFixHead thead th {
  position: sticky;
  top: -1px;
  z-index: 2;
}

.tableFixHead thead .tr-filter td {
  position: sticky;
  top: 79px;
  z-index: 2;
  background-color: #fff;
}

.background-white {
  background-color: #fff;
}

.tableFixHead.background-white thead th {
  background-color: #fff;
}

.pricelist-catalog_wrapper {
  right: 15px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 0px;
  padding-right: 0px;
  max-height: 72vh;
  overflow: auto;
  height: 71vh;
}

.product-list-table thead td {
  padding: 5px;
}

.product-list-table tbody td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.no-data-text {
  padding: 5px !important;
}

.map-products-page_wrapper {
  min-height: 100%;
  height: 100%;
}

.mapping-products {
  max-height: 50vh;
}

.mapping-products.stretch {
  max-height: 70vh;
}

.mapping-table-container.stretch {
  max-height: 80vh;
}

.max-height-vh-25 {
  max-height: 25vh;
}

.max-height-vh-35 {
  max-height: 35vh;
}

.max-height-vh-50 {
  max-height: 50vh;
}

.max-height-vh-70 {
  max-height: 70vh;
}

.max-height-vh-80 {
  max-height: 80vh;
}

.max-height-vh-100 {
  max-height: 100vh;
}

.map-catalog-tree {
  max-height: 65vh;
  overflow: auto;
  height: 65vh;
}

.aside.aside-left {
  display: -webkit-box;
}

.aside.aside-right {
  display: -webkit-box;
}

.aside.sticky {
  width: 15px !important;
  min-width: 15px !important;
}

.aside .control {
  width: 15px;
}

.aside .control:hover {
  background-color: #ededed;
}

.aside-content {
  width: calc(100% - 15px);
}

.sticky .aside-content {
  display: none;
}

.left-area {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.left-area.sticky {
  max-width: 2% !important;
}

.right-area {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.right-area.sticky {
  max-width: 2% !important;
}

.products-area.minimise {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.products-area.stretch {
  min-width: 58%;
}

.bottom-area.sticky {
  width: 100% !important;
}

.row-flex,
.row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}

.row-flex > div[class*='col-'] {
  margin: -0.2px;
}
